/Enterprise Application/nbproject/private/
/Enterprise Application/Enterprise Application-war/nbproject/private/
/Enterprise Application/Enterprise Application-ejb/nbproject/private/
/Java Application/nbproject/private/